{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">광운그룹 IT/SW개발팀<br>이보연 웹사이트</h1>
                    <p class="lead fw-normal text-white-50 mb-4">안녕하세요 광운그룹 IT/SW개발팀의 이보연 웹사이트 메인페이지입니다.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'accounts:signup' %}">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="{% url 'company_info' %}">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}